*{
    box-sizing: border-box;
    
}
body{
    width: 100%;
    height: 100%;
}
html{
    width: 100%;
    height: 100%;
}
.header-continer{
    width: 100%;
    height: 10%;
}
.header{
    width: 100%;
    height: 100%;
    display: flex;
    border-bottom: 2px solid;
    justify-content: space-between;
}
.navalist{
    list-style: none;
    width: 50%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;


}
.logo{
    height: 100%;
    width: 15%;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;

}
.navbar-left{
    display: flex;
    width: 80%;

}
#root{
    width: 100%;
    height: 100%;
    padding: 5%;
}
.navbar-right{
    height: 100%;
    display: flex;
    width: 15%;
    align-items: center;
    justify-content: space-between;
}
.cart{
    height: 50%;
    width: 40%;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}
.avatar{
    height: 80%;
    width: 60%;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}
.list-item:hover{
    border-bottom: 4px solid black;
    padding-bottom: 1rem;
    padding-top: 1rem;
}
