.main{
    height: 100%;
    width: 100%;
    display: flex;
    padding-right: 7%;
    padding-left: 7%;
}
.show{
    width: 50%;
    height: 100%;
    padding: 2rem;
}
.image{
    width: 90%;
    height: 80%;
    background-size: cover;
    border-radius: 10%;
    
}
.gallery{
    width: 90%;
    height: 20%;
   display: flex;
   justify-content: space-between;
   padding-top:3%;
   padding-bottom: 3%;
}
.gellery-img{
    height: 100%;
    width: 20%;
    background-size: cover;
    border-radius: 10px;
}
.prodoct-details{
    width: 50%;
    height: 100%;
    display: flex ;
    flex-direction: column;
    justify-content: space-around;
    padding-top: 10%;
    padding-bottom: 10%;
}
.tool{
    display: flex;
    justify-content: space-between;
    height: 15%;
}
.counter{
    width: 30%;
    display: flex;
    justify-content: space-between;
    background-color: azure;
    align-items: center;
    font-weight: 900;
    border-radius: 10px;
}
.sign{
    font-weight: 900;
    font-size: 1.5rem;
    color: orange;
}
.btn{
    background-color: orange;
    width: 60%;
    color: white;
    border-radius: 10px;
    border: none;
}
.offre{
    background-color: rgba(211, 149, 33, 0.733);
    color: rgb(255, 60, 0);
    margin: 10px;
}
